.search{
    width: 100%;


    &__form{
        display: flex;
        justify-content: space-evenly;

        .form__input{
            border-radius: 5px;
            border: 1px solid #bdbdbd;
        }
    }
}